body {
    padding: 50px;
}
.accordion {
    width: 579px;
    stroke-width: 1px;
    stroke: var(--grey-3); 
    display:block;
}
.accordion__summary {
    display: block;
    cursor: pointer;
    position: relative;
}
.accordion__summary::-webkit-details-marker {
    display: none;
}
.accordion__item {
    padding: 24px 32px;
    margin-bottom: 8px;
    border: solid 1px #ACB5BD;
    border-radius: 8px;

}
.accordion__item:last-child {
    margin-bottom: 0;
}
.title {
    color: var(--Gray-4, #495057);
    border: 64px 32px;
}
.accordion__icon {
    cursor: pointer;
}
.accordion__summary:before {  
    top: .4em;
    right: .3em;
    color: transparent;
    background: url(/assets/images/Vector\ _1.svg) no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;  
    content: "";
    position: absolute;
    transition: transform .5s;
}
.accordion__item[open] > .accordion__summary:before {
    transform: rotate(180deg);
}

.accordion__item[open] .accordion__summary ~ *{ 
    animation: sweep .5s ease-in-out;
}
.accordion__summary:focus {
    outline:0;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}