<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/components/main/card.css">
    <link rel="stylesheet" href="/components/main/main.css" />
    <title>Document</title>
</head>
<body>
    <!-- добавить контейнер -->
    <main class="preview">
        <div class="container">
            <div class="preview__cards">
                <div class="card">
                    <p class="card_text">Tooltip</p>
                </div>
                <div class="card">
                    <p class="card_text">Custom form elements</p>
                </div>
                <div class="card">
                    <p class="card_text">Calendar</p>
                </div>
                <div class="card">
                    <p class="card_text">Modal dialog</p>
                </div>
                <div class="card">
                    <p class="card_text">Histogram</p>
                </div>
                <div class="card">
                    <p class="card_text">Avatar</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>