<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/components/card/card.css">
    <link rel="stylesheet" href="/components/main/main.css" />
    <title>Document</title>
</head>
<body>
    <!-- добавить контейнер -->
    <main class="main">
        <div class="container">
            <div class="main__cards">
                <div class="card">
                    <p class="card__text">Tooltip</p>
                </div>
                <div class="card">
                    <p class="card__text">Custom form elements</p>
                </div>
                <div class="card">
                    <p class="card__text">Calendar</p>
                </div>
                <div class="card">
                    <p class="card__text">Modal dialog</p>
                </div>
                <div class="card">
                    <p class="card__text">Histogram</p>
                </div>
                <div class="card">
                    <p class="card__text">Avatar</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>