<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/components/Footer/footer.css" />
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="container">
            <h2 class="title title_L footer__title">About</h2>
            <p class="footer__text">
                This project is a collection of professionally designed, pre-built, fully responsive HTML snippets you
                can drop into your projects. Get started by checking out our free preview components, or browsing the
                PNG previews in the categories you're most curious about.
            </p>
        </div>
    </footer>
</body>

</html>